In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
fifa_df_complete=pd.read_csv('fifa23.csv')
fifa_df=fifa_df_complete.iloc[:51].copy()
countries=np.unique(fifa_df['Nationality'])

cle=LabelEncoder()
country_labels=cle.fit_transform(fifa_df['Nationality'])
fifa_df['Country_Labels']=country_labels

print(fifa_df[['Known As','Age','Overall','Nationality','Country_Labels']].head(10))

country_mappings={}
for index,label in enumerate(cle.classes_):
    country_mappings[index]=label
print(country_mappings)

            Known As  Age  Overall  Nationality  Country_Labels
0           L. Messi   35       91    Argentina               1
1         K. Benzema   34       91       France               9
2     R. Lewandowski   33       91       Poland              15
3       K. De Bruyne   31       91      Belgium               3
4          K. Mbappé   23       91       France               9
5           M. Salah   30       90        Egypt               7
6        T. Courtois   30       90      Belgium               3
7           M. Neuer   36       90      Germany              10
8  Cristiano Ronaldo   37       90     Portugal              16
9        V. van Dijk   30       90  Netherlands              13
{0: 'Algeria', 1: 'Argentina', 2: 'Austria', 3: 'Belgium', 4: 'Brazil', 5: 'Costa Rica', 6: 'Croatia', 7: 'Egypt', 8: 'England', 9: 'France', 10: 'Germany', 11: 'Italy', 12: 'Korea Republic', 13: 'Netherlands', 14: 'Norway', 15: 'Poland', 16: 'Portugal', 17: 'Scotland', 18: 'Senegal', 19: 'Slovenia', 20: 'Spain'}

In [8]:
ale=LabelEncoder()
age_labels=ale.fit_transform(fifa_df['Age'])
fifa_df['Age Label']=age_labels
print(fifa_df[['Known As','Age','Age Label','Overall','Nationality','Country_Labels']].head(10))

age_mappings={}
for index,label in enumerate(ale.classes_):
    age_mappings[index]=label
print(age_mappings)

            Known As  Age  Age Label  Overall  Nationality  Country_Labels
0           L. Messi   35         12       91    Argentina               1
1         K. Benzema   34         11       91       France               9
2     R. Lewandowski   33         10       91       Poland              15
3       K. De Bruyne   31          8       91      Belgium               3
4          K. Mbappé   23          1       91       France               9
5           M. Salah   30          7       90        Egypt               7
6        T. Courtois   30          7       90      Belgium               3
7           M. Neuer   36         13       90      Germany              10
8  Cristiano Ronaldo   37         14       90     Portugal              16
9        V. van Dijk   30          7       90  Netherlands              13
{0: np.int64(21), 1: np.int64(23), 2: np.int64(25), 3: np.int64(26), 4: np.int64(27), 5: np.int64(28), 6: np.int64(29), 7: np.int64(30), 8: np.int64(31), 9: np.int64(32), 10: np.int64(33), 11: np.int64(34), 12: np.int64(35), 13: np.int64(36), 14: np.int64(37)}

In [9]:
pos_onehot_features=pd.get_dummies(fifa_df['Best Position'])
pos_onehot_features=pos_onehot_features.astype(int)
pd.concat([fifa_df[['Known As','Age','Overall','Nationality','Country_Labels']],pos_onehot_features],axis=1).head(10)

            Known As  Age  Overall  Nationality  ...  LM  LW  RW  ST
0           L. Messi   35       91    Argentina  ...   0   0   0   0
1         K. Benzema   34       91       France  ...   0   0   0   0
2     R. Lewandowski   33       91       Poland  ...   0   0   0   1
3       K. De Bruyne   31       91      Belgium  ...   0   0   0   0
4          K. Mbappé   23       91       France  ...   0   0   0   1
5           M. Salah   30       90        Egypt  ...   0   0   1   0
6        T. Courtois   30       90      Belgium  ...   0   0   0   0
7           M. Neuer   36       90      Germany  ...   0   0   0   0
8  Cristiano Ronaldo   37       90     Portugal  ...   0   0   0   1
9        V. van Dijk   30       90  Netherlands  ...   0   0   0   0

[10 rows x 16 columns]